body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

td {
  padding: 2% 1%;
  word-break: break-word;
  border: 0px solid black;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0px solid black;
  vertical-align: middle;
}

.material-icons.md-18 {
  font-size: 18px;
}
